$color_1: #424242;
$color_2: #00ceff;
$gray: #2e2e2e;

$padding: 40px;

@mixin center {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@mixin x_center{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.x_center{
  @include x_center;
}
.center{
  @include center;
}